<div class="container">
  <header class="jumbotron">
    <h3>DOGSYS</h3>
  </header>
</div>
<body>
  <h2>Serviços</h2>
  <br>
  <ul class="container">
    <a routerLink="/atendimentos" routerLinkActive="active"><li class="card">Atendimentos</li></a>
    <a routerLink="/pets" routerLinkActive="active"><li class="card">Pets</li></a>
    <a routerLink="/clientes" routerLinkActive="active"><li class="card">Clientes</li></a>
    <a routerLink="/veterinarios" routerLinkActive="active"><li class="card">Veterinários</li></a>

  </ul>
</body>
